@import "tailwindcss";

@theme inline {
  --color-primary: #14532d; /* green-900 */
  --color-primary-dark: #052e16; /* green-950 */
  
  --font-sans: var(--font-poppins), var(--font-noto-sans-telugu), sans-serif;
  --font-heading: var(--font-poppins), var(--font-noto-sans-telugu), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Disable tracking-wide for Telugu to prevent ligature breaks */
:lang(te) {
  letter-spacing: normal !important;
}
